<md-toolbar color="primary">
    <span>Vacation Manager</span>
    <span class="toolbar-spacer"></span>
    <md-icon class="toolbar-icon">settings</md-icon>
    <md-icon class="toolbar-icon">exit</md-icon>
</md-toolbar>
<h1>
	{{title}}
</h1>
<p>
	<md-input-container>
		<textarea mdInput placeholder="Address"></textarea>
	</md-input-container>
</p>
